In [1]:
import pandas as pd

# Replace 'example.csv' with the path to your CSV file
csv_file_path = 'river_radar/merged_data.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(csv_file_path)
df.head(10)

,datetimeUTC,1,2,3,4,5,6,7,8,9,...,415,416,417,418,419,420,Tairua,Opitonui,CR Rain,Pinnacles Rain
0,2015-07-31 00:00:00+00:00,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,...,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,1.329000,0.323000,0.0,0.0
1,2015-07-31 00:15:00+00:00,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,...,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,1.328333,0.322667,0.0,0.0
2,2015-07-31 00:30:00+00:00,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,...,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,1.328000,0.322000,0.0,0.0
3,2015-07-31 00:45:00+00:00,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,...,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,1.327333,0.322000,0.0,0.0
4,2015-07-31 01:00:00+00:00,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,...,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,1.327000,0.322000,0.0,0.0
5,2015-07-31 01:15:00+00:00,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,...,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,1.326667,0.322000,0.0,0.0
6,2015-07-31 01:30:00+00:00,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,...,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,1.326000,0.320667,0.0,0.0
7,2015-07-31 01:45:00+00:00,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,...,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,1.325333,0.317333,0.0,0.0
8,2015-07-31 02:00:00+00:00,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,...,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,1.325000,0.317000,0.0,0.0
9,2015-07-31 02:15:00+00:00,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,...,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,1.325000,0.317333,0.0,0.0

In [2]:
# prompt: in the first column is a datetime rename into hour, and only pick the hour from the datetime, shift the column hour to first column and delete datetimeUTC

df['hour'] = pd.to_datetime(df['datetimeUTC']).dt.hour
df = df[['hour'] + list(df.columns[:-1])]
df = df.drop('datetimeUTC', axis=1)
print(df.head(10))

   hour     1     2     3     4     5     6     7     8     9  ...   415  \
0     0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0  ... -20.0
1     0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0  ... -20.0
2     0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0  ... -20.0
3     0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0  ... -20.0
4     1 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0  ... -20.0
5     1 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0  ... -20.0
6     1 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0  ... -20.0
7     1 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0  ... -20.0
8     2 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0  ... -20.0
9     2 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0  ... -20.0

    416   417   418   419   420    Tairua  Opitonui  CR Rain  Pinnacles Rain
0 -20.0 -20.0 -20.0 -20.0 -20.0  1.329000  0.323000      0.0             0.0
1 -20.0 -20.0 -20.0 -20.0 -20.0  1.328333  0.322667      0.0             0.0
2 -20.0 -20.0 -20.0 -20.0 -20.0  1.328000  0.322000      0.0             0.0
3 -20.0 -20.0 -20.0 -20.0 -20.0  1.327333  0.322000      0.0             0.0
4 -20.0 -20.0 -20.0 -20.0 -20.0  1.327000  0.322000      0.0             0.0
5 -20.0 -20.0 -20.0 -20.0 -20.0  1.326667  0.322000      0.0             0.0
6 -20.0 -20.0 -20.0 -20.0 -20.0  1.326000  0.320667      0.0             0.0
7 -20.0 -20.0 -20.0 -20.0 -20.0  1.325333  0.317333      0.0             0.0
8 -20.0 -20.0 -20.0 -20.0 -20.0  1.325000  0.317000      0.0             0.0
9 -20.0 -20.0 -20.0 -20.0 -20.0  1.325000  0.317333      0.0             0.0

[10 rows x 425 columns]

In [3]:
# prompt: erase if existcolumn Opitonui and shift column Tairua to end

if 'Opitonui' in df.columns:
    df = df.drop('Opitonui', axis=1)

# Shift column Tairua to end
cols = list(df.columns)
cols.remove('Tairua')
cols.append('Tairua')
df = df[cols]

print(df.head())

   hour     1     2     3     4     5     6     7     8     9  ...   414  \
0     0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0  ... -20.0
1     0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0  ... -20.0
2     0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0  ... -20.0
3     0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0  ... -20.0
4     1 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0  ... -20.0

    415   416   417   418   419   420  CR Rain  Pinnacles Rain    Tairua
0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0      0.0             0.0  1.329000
1 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0      0.0             0.0  1.328333
2 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0      0.0             0.0  1.328000
3 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0      0.0             0.0  1.327333
4 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0      0.0             0.0  1.327000

[5 rows x 424 columns]

In [4]:
# prompt: if exists column Tairua, change the name into Water Level

if 'Tairua' in df.columns:
  df = df.rename(columns={'Tairua': 'Water Level'})

print(df.head(10))

   hour     1     2     3     4     5     6     7     8     9  ...   414  \
0     0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0  ... -20.0
1     0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0  ... -20.0
2     0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0  ... -20.0
3     0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0  ... -20.0
4     1 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0  ... -20.0
5     1 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0  ... -20.0
6     1 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0  ... -20.0
7     1 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0  ... -20.0
8     2 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0  ... -20.0
9     2 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0  ... -20.0

    415   416   417   418   419   420  CR Rain  Pinnacles Rain  Water Level
0 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0      0.0             0.0     1.329000
1 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0      0.0             0.0     1.328333
2 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0      0.0             0.0     1.328000
3 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0      0.0             0.0     1.327333
4 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0      0.0             0.0     1.327000
5 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0      0.0             0.0     1.326667
6 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0      0.0             0.0     1.326000
7 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0      0.0             0.0     1.325333
8 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0      0.0             0.0     1.325000
9 -20.0 -20.0 -20.0 -20.0 -20.0 -20.0      0.0             0.0     1.325000

[10 rows x 424 columns]

In [5]:
# prompt: create new column called Water Movement where Water Movement row n = Water Level row n+16 - Water Level row n

df['Water Movement in 4 Hour'] = df['Water Level'].shift(-16) - df['Water Level']
df.head(17)

,hour,1,2,3,4,5,6,7,8,9,...,415,416,417,418,419,420,CR Rain,Pinnacles Rain,Water Level,Water Movement in 4 Hour
0,0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,...,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,0.0,0.0,1.329000,-0.006000
1,0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,...,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,0.0,0.0,1.328333,-0.005333
2,0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,...,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,0.0,0.0,1.328000,-0.005000
3,0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,...,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,0.0,0.0,1.327333,-0.005333
4,1,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,...,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,0.0,0.0,1.327000,-0.005000
5,1,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,...,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,0.0,0.0,1.326667,-0.004667
6,1,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,...,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,0.0,0.0,1.326000,-0.004000
7,1,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,...,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,0.0,0.0,1.325333,-0.003333
8,2,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,...,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,0.0,0.0,1.325000,-0.003000
9,2,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,...,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,0.0,0.0,1.325000,-0.003333
10,2,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,...,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,0.0,0.0,1.325000,-0.004000
11,2,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,...,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,0.0,0.0,1.325000,-0.004000
12,3,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,...,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,0.0,0.0,1.324667,-0.003667
13,3,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,...,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,0.0,0.0,1.324000,-0.003000
14,3,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,...,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,0.0,0.0,1.324000,-0.003667
15,3,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,...,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,0.0,0.0,1.323667,-0.003667
16,4,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,...,-20.0,-20.0,-20.0,-20.0,-20.0,-20.0,0.0,0.0,1.323000,-0.003333

In [6]:
# prompt: delete the last 20 row

df = df[:-20]

In [8]:
# prompt: save to csv with name preprocess

df.to_csv('river_radar/preprocess.csv', index=False)